#FriendPlus_content {
  display: flex;
  padding-top: 5px;
  font-weight: 600;
}
#FriendPlus_search_icon{
  position: relative;
  z-index: 3;
  top: 49px;
  left: 11px;
  width: 37px;
  height: 38px;
  text-align: center;
  font-size: 23px;
  padding-top: 8px;
  color: rgb(166, 166, 166);
  background-color: rgb(237, 237, 237);
  border-radius: 5px 0 0 5px;
}

#FriendPlus_search_input{
  position: relative;
  padding-left: 41px;
  padding-top: 4px;
  height: 40px;
  width: 26rem;
  margin: 1rem;
}

#FriendPlus_person {
  padding-left: 20px;
  font-size: 50px;
  color: rgb(19, 119, 49);
}

#FriendPlus_name {
  padding: 1rem;
}

.FriendPlus_button {
background-color: rgb(98, 119, 44);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
padding: 8px;
width:fit-content;
height:fit-content;
}
