#GuestBook {
    background-color: white;
    z-index: 1;
    position: relative;
    top: 0;
    right: 0;
    height: 100vh;
    width: 500px;
  }

  #GuestBook_top {
    position: relative;
    padding-top: 6px;
    margin-bottom: 37px;
  }

  #GuestBook_title {
    position: absolute;
  top: 11px;
  left: 38px;

  font-size: 18px;
  font-weight: bolder;
  color: rgb(98, 119, 44);
  }

  #GuestBook_body {
    display: grid;
    margin: 0 15px;
    align-items: start;
    grid-template-columns: 150px 150px 150px;
    gap: 10px;
    margin-top: 15px;
  }

  #GuestBook_add{
    display: block;
    width: 480px;
    margin: 0 10px;
  }

  #GuestBook_add > input{
    width: 400px;
  }

  #GuestBook_add > button{
    width: 80px;
  }

  #GuestBook_text {
    margin: 3px;
  }
