/* 맛메이트 전체창 */
#MatMate {
  background-color: white;
  z-index: 1;
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 500px;
}

/* 맛메이트 상단부 */
#MatMate_top {
  position: relative;
  padding-top: 6px;

  margin-bottom: 37px;
}

.doubleLeft {
  position: absolute;
  left: 5px;
  top: 10px;

  font-size: 25px;
  color: rgb(98, 119, 44);

  cursor: pointer;
}

/* 맛메이트(숫자) 부분 */
#MatMate_title {
  position: absolute;
  top: 11px;
  left: 38px;

  font-size: 18px;
  font-weight: bolder;
  /* line-height: 26px; */
  color: rgb(98, 119, 44);
}

/* 맛메이트 상단부 바로 아래 */
#MatMate_content {
  display: flex;
  padding-top: 5px;
  font-weight: 600;
}

/* 친구 검색 돋보기 */
#MatMate_search {
  position: absolute;
  top: 54px;
  right: 444.1px;
  width: 36px;
  height: 35px;
  text-align: center;
  font-size: 23px;
  padding-top: 8px;
  color: rgb(166, 166, 166);
  background-color: rgb(237, 237, 237);
  border-radius: 5px 0 0 5px;
}

#MatMate_body {
  margin-left: 9px;
}

/* 친구 검색창 */
#MatMate_findInput {
  padding-left: 41px;
  padding-top: 4px;
  height: 37px;
  width: 26rem;
  margin: 1rem;
}

/* 친구 추가창 */
#MatMate_plus {
  padding-top: 9px;
  padding-right: 10px;
  font-size: 25px;
  color: rgb(98, 119, 44);
  cursor: pointer;
}

/* 맛메이트 리스트 이름 */
#MatMate_name {
  padding: 1rem;
}

/* 친구추가 버튼 */
#MatMate_plus {
  position: absolute;
  top: 0;
  right: 0;
}

/* 맛메이트창 기본프로필 */
#MatMate_person {
  padding-left: 20px;
  font-size: 50px;
  color: rgb(19, 119, 49);
}

hr {
  height: 1px;
  background-color: darkgray;
}

input:focus {
  outline: none;
}
