.kakaoMap {
  position: relative;
  z-index: 1;
  text-align: center;
}

.nowPosition {
  position: absolute;
  z-index: 1;

  background-color: rgb(98, 119, 44);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;

  padding: 8px;

  top: 5px;
  left: 50%;
  /* TODO: left값 -> 버튼크기에 맞춰 수정 */
}
