/* Contents 컴포넌트 CSS */

.header {
    padding-top: 10px;
}


.doubleLeft {
    position: absolute;
    left: 5px;

    cursor: pointer;
}


.bell {
    cursor: pointer;
}


.bell>.icon {
    position: absolute;
    right: 15px;
    font-size: 25px;
}


.activeIcon {
    position: absolute;
    z-index: 4;
    top: -5px;
    right: 5px;

    font-size: 35px;

    color: rgb(212, 21, 21);
}


.profile {
    margin-top: 50px;
}


#nickname {
    margin-top: 10px;
}


.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 450px;
    margin: 50px 20px 0 20px;
}


.MyRestaurant,
.MatMate,
.GuestBook {
    display: flex;
    flex-direction: column;

    width: 100px;
    margin: 10px;

    color: rgb(98, 119, 44);

    cursor: pointer;
}


.MyRestaurant:hover *,
.MatMate:hover *,
.GuestBook:hover * {
    color: rgb(215, 154, 71);
}


.icon {
    font-size: 25px;
    color: rgb(98, 119, 44);
}


.MatMate>.icon {
    font-size: 30px;
}

.MatMate {
    padding-bottom: 5px;
}


.link_text {
    font-size: 15px;
    color: rgb(98, 119, 44);
}


.setting {
    position: absolute;
    right: 15px;
    bottom: 3px;

    cursor: pointer;
}




/* Sidebar 컴포넌트 CSS */

.SidebarContainer {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
}


#menuBtn {
    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30px;
    height: 30px;

    cursor: pointer;
}


.sidebar {
    position: absolute;
    z-index: 3;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;

    overflow: hidden;

    transition: all 0.5s;
}
