/* Sidebar 컴포넌트 CSS */

.SidebarContainer {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
}


#menuBtn {
    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30px;
    height: 30px;

    cursor: pointer;
}


/* TODO: 알림/설정 아이콘이 만들어지면 선택자(button) 변경 */
button {
    cursor: pointer;
}


.sidebar {
    position: absolute;
    z-index: 3;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    height: 800px;
    background-color: rgb(255, 255, 255);
    color: black;

    overflow: hidden;

    transition: all 0.5s;
}



/* Contents 컴포넌트 CSS */

.bars {
    position: absolute;
    left: 5px;

    cursor: pointer;
}


.tabs {
    display: flex;
    flex-direction: row;

    width: 250px;
    margin: 10px;

    cursor: pointer;
}


.MyRestaurant,
.MatMate,
.GuestBook {
    display: flex;
    flex-direction: column;

    width: 100px;
    margin: 10px;

    /* TODO: 아이콘/글자 색 변경 */
    color: rgb(25, 116, 33);

    overflow: hidden;
}


/* TODO: 필요하면 수정, 필요없으면 삭제 */
.MyRestaurant:hover,
.MatMate:hover,
.GuestBook:hover {
    background: rgb(37, 164, 48);
    border-radius: 5px;
    transition: all 0.8s;
}


.icon,
.link_text {
    font-size: 15px;
}