.modal {
    display: none;
    /* 화면을 위아래로 스크롤 하더라도 고정 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
    /* border: 테두리, outline: 바깥 외곽선 */
    outline: none;
    border: 0;
    cursor: pointer;
}

.modal>section {
    display: flex;
    flex-direction: column;
    width: 450px;
    /* width: 90%;
    max-width: 450px; */
    height: 600px;
    margin: 0 auto;
    border-radius: 0.8rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
}

.modal>section>header {
    position: relative;
    padding: 16px 16px 16px 16px;
    background-color: #d6ebb1;
    height: 35px;
}

.modal>section>header h1 {
    position: absolute;
    left: 25px;
    font-weight: 700;
    color: rgba(17, 174, 111, 0.6);
}

.modal>section>header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    color: #999;
    background-color: transparent;
}

/* 모달창 안에 기능 구현한 후 수정 필요 */
.modal>section>main {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}